<section id="about" class="container my-5">
  <div class="row">
    <h2 class="text-center w-100">👤 About Me</h2>
  </div>
  <div class="d-flex flex-wrap align-items-center justify-content-center">
    <div class="flex-grow-1 me-3 about-text">
      <p class="mb-0">
        Over 3 years of experience building high-quality web applications in the IT industry. 
        <br>
        I'm adaptable, comfortable with a variety of development processes and methodologies, and 
        <br>
        enjoy working with collaborative, forward-thinking teams. 
        <br>
        I'm eager to apply my programming skills to support organizational goals
        <br>
        while continuing to grow both personally and professionally.
      </p>
    </div>
    <div class="text-center">
      <img src="assets/img/jazz-pic.png" alt="Jazz with glasses" class="rounded-image img-fluid">
    </div>
  </div>
</section>