footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

.dark-mode #dark-mode-toggle {
    background-color: #212529;
    color: #ffffff;
    border: 1px solid #ffffff;
}