<section id="projects" class="container mt-5">
  <h2 class="text-center">🛠️ Projects</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Income & Expense Tracker</h3>
          <p class="card-text">
            A simple web app to track and compute total income, expenses and net balance. <br /> <br />
          </p>
          <a href="https://seistv.github.io/income-expense-tracker/" target="_blank" class="btn btn-primary me-2">View
            Project</a>
          <a href="https://github.com/seistv/income-expense-tracker" target="_blank" class="btn btn-secondary">View
            Code</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Tic-Tac-Toe Game</h3>
          <p class="card-text">
            A simple tic-tac-toe game web app. <br /> <br />
          </p>
          <a href="https://seistv.github.io/tic-tac-toe/" target="_blank" class="btn btn-primary me-2">View Project</a>
          <a href="https://github.com/seistv/tic-tac-toe" target="_blank" class="btn btn-secondary">View Code</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-2">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">My To Do List</h3>
          <p class="card-text">
            A simple and responsive To Do List web application. Can easily add, edit, delete and move tasks up or down.
          </p>
          <a href="https://seistv.github.io/to-do-list/" target="_blank" class="btn btn-primary me-2">View Project</a>
          <a href="https://github.com/seistv/to-do-list" target="_blank" class="btn btn-secondary">View Code</a>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</section>