<section id="projects" class="container mt-5">
  <h2 class="text-center">Projects</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Income & Expense Tracker</h3>
          <p class="card-text">
            A simple web app to track and compute total income, expenses and net balance using HTML, Bootstrap, and jQuery.
          </p>
          <a href="https://seistv.github.io/income-expense-tracker/" target="_blank" class="btn btn-primary me-2">View Project</a>
          <a href="https://github.com/seistv/income-expense-tracker" target="_blank" class="btn btn-secondary">View Code</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Lost Ark Task Manager</h3>
          <p class="card-text">
            A simple web app to track Lost Ark daily and weekly quests using HTML, Bootstrap, Angular and PostgreSQL
          </p>
          <a href="#" class="btn btn-primary me-2">Project Under Development</a>
          <a href="#" class="btn btn-secondary">Code Under Development</a>
        </div>
      </div>
    </div>
  </div>
</section>