<section id="projects" class="container">
  <div class="project-header"><h2 class="text-center">👨‍💻 My Works</h2></div>
  <div class="row">
    <div class="col-md-4 py-2">
      <div class="card">
        <img class="card-img" src="assets/img/income-expense-tracker.png" alt="Income and Expense Tracker" loading="lazy">
        <div class="overlay">
          <h3 class="card-title">Income & Expense Tracker</h3>
          <p class="card-text">
            A simple web app to track and compute total income, expenses and net balance.
          </p>
          <div>
            <a href="https://seistv.github.io/income-expense-tracker/" target="_blank" class="btn-live me-2">View
              Live</a>
            <a href="https://github.com/seistv/income-expense-tracker" target="_blank" class="btn-code">View
              Code</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 py-2">
      <div class="card">
        <img class="card-img" src="assets/img/tic-tac-toe.png" alt="Tic Tac Toe" loading="lazy">
        <div class="overlay">
          <h3 class="card-title">Tic-Tac-Toe Game</h3>
          <p class="card-text">
            A simple tic-tac-toe game web app.
          </p>
          <div>
            <a href="https://seistv.github.io/tic-tac-toe/" target="_blank" class="btn-live me-2">View Live</a>
            <a href="https://github.com/seistv/tic-tac-toe" target="_blank" class="btn-code">View Code</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 py-2">
      <div class="card">
        <img class="card-img" src="assets/img/to-do-list.png" alt="Tic Tac Toe" loading="lazy">
        <div class="overlay">
          <h3 class="card-title">My To Do List</h3>
          <p class="card-text">
            A simple and responsive To Do List web application. Can easily add, edit, delete and move tasks up or down.
          </p>
          <div>
            <a href="https://seistv.github.io/to-do-list/" target="_blank" class="btn-live me-2">View Live</a>
            <a href="https://github.com/seistv/to-do-list" target="_blank" class="btn-code">View Code</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
