<section id="skills" class="container mt-5 text-center">
  <h2 class="mb-4">⭐ Skill Rating</h2>

  <!-- Legend -->
  <div class="mb-3">
    <span><span class="circle very-confident"></span> Very Confident</span>
    <span class="ms-3"><span class="circle confident"></span> Confident</span>
    <span class="ms-3"><span class="circle good-enough"></span> Good Enough</span>
    <span class="ms-3"><span class="circle basic"></span> Basic</span>
  </div>

  <!-- Frontend -->
  <h4 class="mt-5 text-start"> <img src="assets/icons/frontend.png" alt="Frontend" width="30"> Frontend</h4>
  <hr>
  <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-4 mt-2">
    <!-- Skill cards (HTML, CSS, JS, jQuery, Angular, Thymeleaf) -->
    <div class="col">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/icons/html5.png" alt="HTML" width="40">
        <span class="mt-2">
          <span class="circle confident"></span> HTML
        </span>
      </div>
    </div>

    <div class="col">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/icons/css.png" alt="CSS" width="40">
        <span class="mt-2">
          <span class="circle confident"></span> CSS
        </span>
      </div>
    </div>

    <div class="col">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/icons/javascript.png" alt="JavaScript" width="40">
        <span class="mt-2">
          <span class="circle confident"></span> JavaScript
        </span>
      </div>
    </div>

    <div class="col">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/icons/jquery.png" alt="jQuery" width="40">
        <span class="mt-2">
          <span class="circle confident"></span> jQuery
        </span>
      </div>
    </div>

    <div class="col">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/icons/angular.png" alt="Angular" width="40">
        <span class="mt-2">
          <span class="circle confident"></span> Angular
        </span>
      </div>
    </div>

    <div class="col">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/icons/thymeleaf.png" alt="Thymeleaf" width="40">
        <span class="mt-2">
          <span class="circle confident"></span> Thymeleaf
        </span>
      </div>
    </div>
  </div>

  <!-- Backend -->
  <h4 class="mt-5 text-start"> <img src="assets/icons/backend.png" alt="Backend" width="30"> Backend</h4>
  <hr>
  <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-4 mt-2">
    <!-- Skill cards (Java, Spring Boot, C++) -->
    <div class="col">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/icons/java.png" alt="Java" width="40">
        <span class="mt-2">
          <span class="circle very-confident"></span> Java
        </span>
      </div>
    </div>

    <div class="col">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/icons/springboot.png" alt="Spring Boot" width="40">
        <span class="mt-2">
          <span class="circle confident"></span> Spring Boot
        </span>
      </div>
    </div>

    <div class="col">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/icons/cplusplus.png" alt="C++" width="40">
        <span class="mt-2">
          <span class="circle basic"></span> C++
        </span>
      </div>
    </div>
  </div>

  <!-- Database -->
  <h4 class="mt-5 text-start"> <img src="assets/icons/database.png" alt="Database" width="30"> Database</h4>
  <hr>
  <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-4 mt-2">
    <!-- Skill cards (PostgreSQL, MySQL) -->
    <div class="col">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/icons/postgresql.png" alt="PostgreSQL" width="40">
        <span class="mt-2">
          <span class="circle good-enough"></span> PostgreSQL
        </span>
      </div>
    </div>

    <div class="col">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/icons/mysql.png" alt="MySQL" width="40">
        <span class="mt-2">
          <span class="circle good-enough"></span> MySQL
        </span>
      </div>
    </div>
  </div>
</section>